<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thinkit.microservicecloud.dao.AppCurd">

	<insert id="createApp"  parameterType="com.thinkit.microservicecloud.entities.console.UserApp" useGeneratedKeys="true" keyProperty="id">
		insert into app(appid,appkey,appname,field,platform,description,createTime,userid) values(#{appid},#{appkey},#{appname},#{field},#{platform},#{description},now(),#{userid});
	</insert>

	<select id="myapps" resultType="com.thinkit.microservicecloud.entities.console.MyApps"   >
		select app.id,app.appid,appkey,appname,count(*) as count from app,service where  app.id = service.appid and userid= #{userid}  group by  service.appid;
	</select>



</mapper>
 

